<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">   
    <title>Nike</title>
</head>
<body>
    <nav id="nav">
        <div class="navTop">
            <div class="navItem">
                <a href="https://www.nike.com" target="_blank">
                    <img src="{{ url_for('static', filename='img/nike.png') }}" width="150" height="150" alt="Nike">
                </a>
            </div>
            <div class="navItem">
                <div class="search">
                    <img src="{{ url_for('static', filename='img/search.png') }}" width="20" height="20" alt="" class="searchIcon">
                    <input type="text" placeholder="Search" class="searchInput">
                    
                </div>
            </div>
            <div class="navItem">
                <span class="limitedOffer"> LimitedOffer!</span>
            </div>
            <div class="navBottom">
                <h3 class="menuItem">AIR FORCE</h3>
                <h3 class="menuItem">JORDAN</h3>
                <h3 class="menuItem">BLAZER</h3>
                <h3 class="menuItem">CRATER</h3>
                <h3 class="menuItem">HIPPIE</h3>
            </div>
        </div>
    </nav>

    <div class="slider">
        <div class="sliderWrapper">
            <div class="sliderItem">
                <img src="{{ url_for('static', filename='img/air.png') }}" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">AIR FORCE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$99</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="{{ url_for('static', filename='img/jordan.png') }}" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">JORDAN</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$119</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="{{ url_for('static', filename='img/blazer.png') }}" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">BLAZER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$79</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            
            <div class="sliderItem">
                <img src="{{ url_for('static', filename='img/crater.png') }}" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">CRATER</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$59</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
            <div class="sliderItem">
                <img src="{{ url_for('static', filename='img/hippie.png') }}" alt="" class="sliderImg">
                <div class="sliderBg"></div>
                <h1 class="sliderTitle">HIPPIE</br> NEW</br> SEASON</h1>
                <h2 class="sliderPrice">$59</h2>
                <a href="#product">
                    <button class="buyButton">BUY NOW!</button>
                </a>
            </div>
        </div>
    </div>
    <div class="features">
        <div class="feature">
            <img src="{{ url_for('static', filename='img/shipping.png') }}" alt="" class="featureImg">
            <span class="featureTitle">Free Shipping</span>
            <span class="featureDesc">Free shipping in 3km</span>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='img/return.png') }}" alt="" class="featureImg">
            <span class="featureTitle">30 Days Return</span>
            <span class="featureDesc">No question return and easy refund in 14 days</span>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='img/gift.png') }}" alt="" class="featureImg">
            <span class="featureTitle">Gift Card</span>
            <span class="featureDesc">Buy giftcard or use coupon</span>
        </div>
        <div class="feature">
            <img src="{{ url_for('static', filename='img/contact.png') }}" alt="" class="featureImg">
            <span class="featureTitle">Contact us</span>
            <span class="featureDesc">zalo : 0972500304</span>
        </div>
    </div>
    <div class="product" id = "product">
        <img src="{{ url_for('static', filename='img/air.png') }}" alt="" class="productImg">
        <div class="productDetails">    
            <h1 class="productTitle">Air Force</h1>
            <h2 class="productPrice">99$</h2>
            <p class="productDesc">Comfortable, durable and timeless—it's number 1 for a reason. The classic '80s construction is paired with bold details for style that tracks whether you're on the court or on the go.</p>
            <div class="colors">
                <div class="color"></div>
                <div class="color"></div>
            </div>
            <div class="sizes">
                <div class="size">41</div>
                <div class="size">42</div>              
                <div class="size">43</div>
                <div class="size">44</div>
                <div class="size">45</div>
                <div class="size">46</div>
            </div>
            <button class="productButton">BUY NOW</button>
        </div>
        
    </div>
    <div class="payment">
        <h1 class="payTitle">Personal Information</h1>
        <label>Name and Surname</label>
        <input type="text" placeholder="John Doe" class="payInput">
        <label>Phone Number</label>
        <input type="text" placeholder="+1 234 5678" class="payInput">
        <label>Address</label>
        <input type="text" placeholder="Elton St 21 22-145" class="payInput">
        <h1 class="payTitle">Card Information</h1>
        <div class="cardIcons">
            <img src="{{ url_for('static', filename='img/visa.png') }}" width="40" alt="" class="cardIcon">
            <img src="{{ url_for('static', filename='img/master.png') }}" alt="" width="40" class="cardIcon">
        </div>
        <input type="password" class="payInput" placeholder="Card Number">
        <div class="cardInfo">
            <input type="text" placeholder="mm" class="payInput sm">
            <input type="text" placeholder="yyyy" class="payInput sm">
            <input type="text" placeholder="cvv" class="payInput sm">
        </div>
        <button class="payButton">Checkout!</button>
        <span class="close">X</span>
    </div>
</div>
<div class="gallery">
    <div class="galleryItem">
        <h1 class="galleryTitle">Be Yourself!</h1>
        <img src="https://images.pexels.com/photos/9295809/pexels-photo-9295809.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
    <div class="galleryItem">
        <img src="https://images.pexels.com/photos/1040427/pexels-photo-1040427.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
        <h1 class="galleryTitle">This is the First Day of Your New Life</h1>
    </div>
    <div class="galleryItem">
        <h1 class="galleryTitle">Just Do it!</h1>
        <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="galleryImg">
    </div>
</div>
<div class="newSeason">
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/4753986/pexels-photo-4753986.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="nsImg">
    </div>
    <div class="nsItem">
        <h3 class="nsTitleSm">WINTER NEW ARRIVALS</h3>
        <h1 class="nsTitle">New Season</h1>
        <h1 class="nsTitle">New Collection</h1>
        <a href="#nav">
            <button class="nsButton">CHOOSE YOUR STYLE</button>
        </a>
    </div>
    <div class="nsItem">
        <img src="https://images.pexels.com/photos/7856965/pexels-photo-7856965.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
            alt="" class="nsImg">
    </div>
</div>
<footer>
    <div class="footerLeft">
        <div class="footerMenu">
            <h1 class="fMenuTitle">About Us</h1>
            <ul class="fList">
                <li class="fListItem">Company</li>
                <li class="fListItem">Contact</li>
                <li class="fListItem">Careers</li>
                <li class="fListItem">Affiliates</li>
                <li class="fListItem">Stores</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle">Useful Links</h1>
            <ul class="fList">
                <li class="fListItem">Support</li>
                <li class="fListItem">Refund</li>
                <li class="fListItem">FAQ</li>
                <li class="fListItem">Feedback</li>
                <li class="fListItem">Stories</li>
            </ul>
        </div>
        <div class="footerMenu">
            <h1 class="fMenuTitle">Products</h1>
            <ul class="fList">
                <li class="fListItem">Air Force</li>
                <li class="fListItem">Air Jordan</li>
                <li class="fListItem">Blazer</li>
                <li class="fListItem">Crater</li>
                <li class="fListItem">Hippie</li>
            </ul>
        </div>
    </div>
    <div class="footerRight">
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Subscribe to our newsletter</h1>
            <div class="fMail">
                <input type="text" placeholder="your@email.com" class="fInput">
                <button class="fButton">Join!</button>
            </div>
        </div>
        <div class="footerRightMenu">
            <h1 class="fMenuTitle">Follow Us</h1>
            <div class="fIcons">
                <img src="{{ url_for('static', filename='facebook/air.png') }}" alt="" class="fIcon">
                <img src="{{ url_for('static', filename='twitter/air.png') }}" alt="" class="fIcon">
                <img src="{{ url_for('static', filename='instagram/air.png') }}" alt="" class="fIcon">
                <img src="{{ url_for('static', filename='whatsapp/air.png') }}" alt="" class="fIcon">
            </div>
        </div>
        <div class="footerRightMenu">
            <span class="copyright">@Nike. All rights reserved. 2024.</span>
        </div>
    </div>
</footer>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    
</body>
</html>